@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 19, 35, 55;
  --background-end-rgb: 19, 35, 55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1a2a3d;
}

::-webkit-scrollbar-thumb {
  background: #2a3b4d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a4b5d;
}
